<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net40" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net40" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net40" />
  <package id="Emgu.CV" version="4.5.4.4788" targetFramework="net48" />
  <package id="Emgu.CV.Bitmap" version="4.5.4.4788" targetFramework="net48" />
  <package id="Eneter.Messaging.Framework" version="8.0.10" targetFramework="net40" requireReinstallation="true" />
  <package id="LibVLCSharp" version="3.6.4" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net48" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="VideoLAN.LibVLC.Windows" version="3.0.16" targetFramework="net48" />
</packages>